body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Roboto";
  src: url("/test/source/fonts/Roboto-Black.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/test/source/fonts/Roboto-Black.ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
.main-header {
  height: 100vh;
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.main-nav__item {
  margin-right: 40px;
  padding: 15px 0;
}
.main-nav__item--button {
  margin-left: 20px;
}
.main-nav__link {
  color: #405063;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
.main-nav__button {
  color: #ffffff;
  background-color: #489AFF;
  padding: 13px 37px;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}
.container {
  margin: 0 auto;
  max-width: 1050px;
}
.first-screen {
  margin-top: 76px;
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-position: 76% 60%;
}
.first-screen__wrapper {
  max-width: 420px;
}
.first-screen__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #405063;
  margin: 11px 0;
}
.first-screen__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
}
.first-screen__contents {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #405063;
}
.first-screen__list {
  list-style: none;
}
.first-screen__item {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #405063;
  padding-left: 15px;
}
.first-screen__list .first-screen__item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #489AFF;
  left: 0;
  top: 6px;
  border-radius: 8px;
}
.first-screen__footer {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #405063;
}
.introduction {
  max-width: 871px;
  margin: 0 auto;
  border-top: 1px solid #E3E8EF;
  border-bottom: 1px solid #E3E8EF;
  padding: 27px 0;
}
.introduction__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
  max-width: 621px;
  text-align: center;
  margin: 0 auto;
}
.introduction__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  margin-top: 32px;
}
.introduction__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #405063;
  width: 130px;
  margin-right: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.introduction__icon {
  margin-bottom: 12px;
}
.figma-hints {
  display: flex;
  justify-content: center;
  margin-top: 95px;
}
.figma-hints__images {
  margin-right: 60px;
  position: relative;
}
.figma-hints__image--first {
  position: absolute;
  top: 62px;
}
.figma-hints__image--second {
  margin-left: 100px;
}
.figma-hints__wrapper {
  max-width: 450px;
  padding-top: 30px;
}
.figma-hints__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #405063;
  margin: 10px 0;
}
.figma-hints__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
  max-width: 450px;
  margin: 0 0 25px 0;
}
.figma-hints__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #489AFF;
  border-radius: 500px;
  padding: 14px 30px;
}
.scale-skills__input {
  width: 955px;
  -webkit-appearance: none;
  height: 6px;
  margin-left: 46px;
  background: linear-gradient(90deg, #BFA4FF 0%, #FF4F72 25%, #FFC359 50%, #FFC359 75%, #23364C 75%, #23364C 100%);
}
.scale-skills__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-bottom: 15px;
}
.scale-skills {
  background-color: #354A62;
  border-radius: 8px;
  position: relative;
}
.scale-skills__list {
  display: flex;
  margin-top: 21px;
  margin-left: 42px;
  padding-bottom: 22px;
}
.scale-skills__marks {
  margin-right: 176px;
  margin-left: 6px;
  position: relative;
  color: #FFFFFF;
  opacity: 0.8;
}
.scale-skills__marks::after {
  content: " ";
  position: absolute;
  top: -15px;
  left: 18px;
  width: 3px;
  height: 3px;
  background-color: #FFFFFF;
  opacity: 0.8;
}
.scale-skills__wrapper {
  max-width: 533px;
  padding: 27px 0 28px 46px;
}
.scale-skills__title {
  margin: 9px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  opacity: 0.8;
}
.scale-skills__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #C4CCD6;
  opacity: 0.8;
  margin: 0;
}
.scale-skills-ring {
  position: absolute;
  top: 29px;
  right: 207px;
}
.scale-skills-ring--second {
  right: 53px;
}
.scale-skills__circle {
  stroke-width: 4;
  stroke: #C78FF9;
  fill: none;
  transform-origin: center;
  transform: rotate(-90deg);
}
.scale-skills__circle--second {
  stroke: #FFC35A;
}
.scale-skills__years {
  position: absolute;
  right: 250px;
  top: 60px;
}
.scale-skills__projects {
  position: absolute;
  right: 85px;
  top: 60px;
}
.scale-skills__counter {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}
.scale-skills__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #B2BBC8;
  margin: 0;
  text-align: center;
}
.slider {
  padding-bottom: 90px;
  background-image: url("../img/slider-bc.png");
  background-repeat: no-repeat;
  background-position: 0 180px;
}
.slider__wrapper {
  position: relative;
}
.slider__text {
  margin: 90px auto 30px auto;
  max-width: 617px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.slider__header {
  margin: 14px 0 7px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #405063;
}
.slider__about {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #818D9C;
  margin: 0;
}
.slider__svg {
  position: absolute;
  right: 12px;
  top: 11px;
  fill: #D8D8D8;
}
.slider__svg--current {
  fill: #F26F70;
}
.slider__list {
  display: flex;
  margin-left: 436px;
  padding-top: 53px;
  list-style-type: none;
  overflow: hidden;
}
.slider__item {
  width: 240px;
  min-height: 398px;
  margin-right: 30px;
  padding: 37px 20px 0 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 151px 35px 95px 16px 64px;
  position: relative;
}
.slider__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #405063;
  margin: 0;
}
.slider__title::before {
  content: " ";
  width: 3px;
  height: 33px;
  background-color: #51BCF8;
  position: absolute;
  left: 0;
}
.slider__description {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #818D9C;
  width: 198px;
  margin: 0;
}
.slider__span {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.slider__price {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #405063;
  margin: 0 13px 0 0;
}
.slider__old-price {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #818D9C;
  margin: 0;
}
.slider__colors {
  display: flex;
  align-items: center;
}
.slider__color {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #405063;
  margin: 0;
  padding-top: 0;
  align-self: center;
}
.slider__input {
  margin-left: 30px;
  width: 0;
  height: 0;
}
.slider__label {
  position: relative;
}
.slider__label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  display: none;
  top: -12px;
  left: -12px;
}
.slider__input:checked + .slider__label::before {
  display: block;
}
.slider__label::after {
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D45D5E;
  position: absolute;
  display: block;
  top: -6px;
  left: -5px;
}
.slider__label--blue::after {
  background-color: #518DD5;
}
.slider__label--orange::after {
  background-color: #E98D4B;
}
.slider__label--purple::after {
  background-color: #9F548C;
}
.slider__label--black::after {
  background-color: #292929;
}
.slider__label--lightpurple::after {
  background-color: #B779DC;
}
.slider__label--grey::after {
  background-color: #97938F;
}
.slider__button {
  position: absolute;
  border: none;
  background-color: #51BCF8;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 0;
  border-radius: 20% 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}
.slider__button::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  left: 17px;
}
.slider__button::before {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  transform: rotate(90deg);
  left: 17px;
}
.slider__arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: inherit;
  border: 2px solid #FFFFFF;
  position: absolute;
  opacity: 0.35;
}
.slider__arrow--right {
  top: 127px;
  left: 277px;
}
.slider__arrow--left {
  top: 209px;
  left: 277px;
  transform: rotate(180deg);
}
.slider__counter {
  position: absolute;
  bottom: -30px;
  left: 230px;
}
.slider__current-page {
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}
.slider__pages {
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  color: #47678B;
}
.owl-stage {
  display: flex;
}
.page__body {
  background-image: url("../img/vector-header.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.scroll {
  position: sticky;
  top: 0;
}
.scroll__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.table-wrapper__tariff,
.table-wrapper__row,
.table-wrapper__cell,
.table-wrapper__head {
  border: 1px solid #D7E1EC;
  margin: 0 auto;
}
.table-wrapper__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.table-wrapper__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #405063;
  margin: 12px 0 14px 0;
}
.table-wrapper__description {
  width: 617px;
  margin: 0 0 24px 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #818D9C;
}
.table-wrapper__tariff {
  margin-bottom: 175px;
  border-collapse: collapse;
  max-width: 1050px;
}
.table-wrapper__head {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #405063;
  height: 189px;
  padding-top: 80px;
  box-sizing: border-box;
  position: relative;
}
.table-wrapper__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #818D9C;
  margin: 7px 0 20px 0;
}
.table-wrapper__cell {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #405063;
  text-align: center;
  position: relative;
}
.table-wrapper__cell--first {
  text-align: left;
  min-width: 329px;
  padding: 18px 0 17px 20px;
}
.table-wrapper__cell--second,
.table-wrapper__cell--third,
.table-wrapper__cell--four {
  width: 241px;
}
.table-wrapper__icon {
  position: absolute;
  top: 10%;
  left: 44%;
}
.table-wrapper__head--blue,
.table-wrapper__cell--blue {
  background-color: #F2F8FF;
}
.table-wrapper__head--purple,
.table-wrapper__cell--purple {
  background-color: #F7F4FF;
}
.table-wrapper__head--red,
.table-wrapper__cell--red {
  background-color: #FFF1F8;
}
.table-wrapper__cell--check::before {
  content: "";
  width: 7px;
  height: 1px;
  background-color: #FF56A9;
  position: absolute;
  transform: rotate(40deg);
  left: 48%;
}
.table-wrapper__cell--check::after {
  content: "";
  width: 11px;
  height: 1px;
  background-color: #FF56A9;
  position: absolute;
  transform: rotate(-50deg);
  top: 47%;
  left: 50%;
}
.table-wrapper__cell--purple.table-wrapper__cell--check::after,
.table-wrapper__cell--purple.table-wrapper__cell--check::before {
  background-color: #9570EE;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 161px;
}
.contact__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #405063;
  margin: 6px 0 14px 0;
}
.contact__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #818D9C;
  margin: 0 0 13px 0;
  width: 617px;
}
.contact__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #489AFF;
}
.main-footer {
  border-top: 1px solid #DBDBDB;
}
.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.main-footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #818D9C;
  margin: 19px 0;
}
.main-footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #489AFF;
}
.modal--opened .modal__background {
  top: 0;
}
.modal__background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
}
.modal--closed {
  display: none;
}
.modal__container {
  position: fixed;
  left: 20%;
  top: 0;
  z-index: 2;
  width: 100%;
}
.modal__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.modal__item {
  margin-right: 40px;
  padding: 15px 0;
}
.modal__item--button {
  margin-left: 20px;
}
.modal__link {
  color: #405063;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
.modal__button {
  color: #ffffff;
  background-color: #489AFF;
  padding: 13px 37px;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}
.modal__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;
}
.modal__body {
  position: fixed;
  top: 25%;
  left: 33%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__tittle {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #405063;
  margin: 23px 0 10px 0;
}
.modal__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #818D9C;
  width: 510px;
  margin: 0 0 15px 0;
}
.modal__footer {
  border-top: 1px solid #DBDBDB;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  left: 18%;
}
.modal__footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.modal__footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #818D9C;
  margin: 19px 0;
}
.modal__footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #489AFF;
}
/*# sourceMappingURL=style.css.map */
